aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
altgraph==0.17.5
attrs==26.1.0
comtypes==1.4.16
dxcam==0.3.0
frozenlist==1.8.0
idna==3.18
ifaddr==0.2.0
multidict==6.7.1
numpy==2.5.1
nvidia-ml-py==13.610.43
packaging==26.2
pefile==2024.8.26
pillow==12.3.0
propcache==0.5.2
psutil==7.2.2
py-cpuinfo==9.0.0
pygame==2.6.1
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pynput==1.8.2
pynvml==13.0.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
pystray==0.19.5
pywin32==312
pywin32-ctypes==0.2.3
setuptools==83.0.0
six==1.17.0
typing_extensions==4.16.0
websocket-client==1.9.0
websockets==17.0.1
WMI==1.5.1
yarl==1.24.5
zeroconf==0.150.0
